.sidebar {
 color: white;
 background-color: black;
 height: 100vh;
 min-width: 230px;
 flex: 0.2;
 padding-left: 10px;
 padding-right: 10px;
}

.sidebar__logo {
 margin-right: auto;
 height: 70px;
 padding: 10px;
}

.sidebar__title {
 margin-left: 10px;
 padding: 5px;
 font-size: 12px;
}